.advantages-wrapper {
  display: flex;
}
.advantage-item {
  padding: 30px 20px;
  text-align: center;
  color: #fff;
  &:hover{
    .advantage-item-icon{
      transform: scale(1.1);
    }
  }
  &:nth-of-type(1) {
    background: rgb(97, 213, 129);
    background: linear-gradient(
      220deg,
      rgba(97, 213, 129, 1) 0%,
      rgba(69, 174, 98, 1) 100%
    );
  }
  &:nth-of-type(2) {
    background: rgb(105, 210, 231);
    background: linear-gradient(
      220deg,
      rgba(105, 210, 231, 1) 0%,
      rgba(28, 179, 209, 1) 100%
    );
  }
  &:nth-of-type(3) {
    background: rgb(249, 141, 112);
    background: linear-gradient(
      220deg,
      rgba(249, 141, 112, 1) 0%,
      rgba(235, 101, 66, 1) 100%
    );
  }
  &:nth-of-type(4) {
    background: rgb(255, 225, 119);
    background: linear-gradient(
      220deg,
      rgba(255, 225, 119, 1) 0%,
      rgba(254, 177, 55, 1) 100%
    );
  }
}
.advantage-item-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  background: rgb(255, 251, 252);
  background: linear-gradient(
    270deg,
    rgba(255, 251, 252, 0.4) 0%,
    rgba(255, 251, 252, 0.2) 100%
  );
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 80%;
  }
}

.advantage-item-title {
  font-family: "Circe-Bold", sans-serif;
  letter-spacing: 0.02em;
  padding: 20px 20px 26px;
}

.advantage-text {
  font-size: 17px;
  letter-spacing: 0;
}
