img{
  max-width: 100%;
  display: inline-block;
  height: auto;
}
.main-app{
  
  padding-top: 50px;
}
body{
  font-family: 'Circe-Regular', sans-serif;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.06em;
  background-color: #FFFBFC;
  overflow-x: hidden;
}
button{
  outline: none !important;
}
html{
  scroll-behavior: smooth;
}