.header {
  min-height: 100vh;
  background: linear-gradient(248.11deg, #917ab8 1.97%, #7760a2 100%);
  .header-body.container {
    top: 100px;
    margin: 0 auto;
    right: 0;
    left: 0;
    position: absolute;
  }
}
.header-parallax {
  overflow: visible;
}
.header-inner {
  align-items: center;
}
.header-subtitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin-bottom: 15px;
}
.header-title {
  font-family: "Circe-Bold", sans-serif;
  text-transform: capitalize;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 12px;
}
.header-suptitle {
  color: #fff;
  font-size: 24px;
  margin-bottom: 36px;
  letter-spacing: 0;
}

.header-contacts {
  display: flex;
  align-items: center;
}
.header-contacts-text {
  color: #fff;
  display: inline-block;
  margin-right: 15px;
}
.header-contacts-links {
  height: 30px;

  svg {
    transition: all 0.3s;
    margin-right: 10px;
  }
  svg:hover path {
    fill-opacity: 1;
  }
}
