.btn {
  position: relative;
  background-color: transparent;
  border: none;
  color: inherit;
  font-weight: 800;
  font-size: 17px;
  transition: all 0.8s;
  font-family: "Circe-Bold", sans-serif;
  background: linear-gradient(
    180deg,
    #fe8a6b -23%,
    #fc7b58 38.5%,
    #ec5d36 100%
  );
  border-radius: 45px;
  color: #ffffff;
  padding: 11px 60px;
  &__header {
    padding: 10px 50px;
    margin-bottom: 100px;
  }
  &__nav{
    padding: 11px 35px;
  }
  &__secondary {
    background: #57cbe2;
  }
  &__plank {
    background: linear-gradient(45deg, #44a85f 0%, #48d16e 100%);
    padding: 11px 35px;
    border-radius: 45px;
  }
  &__submit {
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.02em;
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(225deg, #69d2e7 0%, #1cb3d1 100%);
  }
  &__thanks {
    padding: 16px 110px;
    background: linear-gradient(248.11deg, #917ab8 1.97%, #7760a2 100%);
  }
  &:hover {
    cursor: pointer;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
  }
}
.section-title {
  text-align: center;
  font-family: "Circe-Bold", sans-serif;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-suptitle {
  text-align: center;
  color: #555555;
  max-width: 70%;
  margin: 11px auto;
  letter-spacing: 0;
}
.secondary-title {
  font-family: "Circe-Bold", sans-serif;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 10px;
  padding-left: 70px;
  color: #232323;
  &__wellcome {
    font-size: 32px;
    padding-left: 0;
  }
}
