.plank {
  padding: 25px 0;
  background: linear-gradient(
    90deg,
    #fe8a6b 0.31%,
    #fb6138 58.57%,
    #ec5d36 98.55%
  );
}
.plank-inner {
  align-items: center;
}
.plnak-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plank-img {
  img {
    height: 100%;
  }
}
.plnak-content-text {
  color: #fff;
}
.plank-title {
  font-family: "Circe-Bold";
  font-size: 32px;
  letter-spacing: 0;
  margin-bottom: 12px;
}
.plank-text {
  max-width: 85%;
  letter-spacing: 0;
}

.promo {
  padding: 25px;
  background: linear-gradient(45deg, #44a85f 0%, #48d16e 100%);
}
.promo-code {
  text-transform: uppercase;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 12px 60px;
  background: #45AD61;
border-radius: 45px;
  cursor: default !important;
}
