.pricing {
  padding-bottom: 129px;
}
.pricing-inner {
  margin-top: 72px;
  justify-content: space-around;
}
.price-card {
  max-width: 360px;
  border-radius: 20px;
  position: relative;
  border-radius: 20px;
  padding: 0;
  transition: all 0.4s;
}

.price-card-top {
  background: linear-gradient(248.11deg, #917ab8 1.97%, #7760a2 100%);
  font-family: "Circe-Bold";
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  color: #fff;
  text-transform: uppercase;
}
.price-card-body {
  background-color: #fff;
  padding: 35px 35px 44px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.price-card-body-desc {
  text-align: center;
  letter-spacing: 0;
  color: rgba(85, 85, 85, 0.9);
  letter-spacing: 0.02em;
  font-family: "Circe-Regular";
  span {
    letter-spacing: 0;
    font-family: "Circe-Bold";
  }
}
.price-card-body-amount {
  margin: 32px 0;
  text-align: center;
  font-family: "Circe-Bold";
  color: #ec5d36;
  font-size: 45px;
  padding: 18px 0 36px;
  border-bottom: 1.5px solid rgba(85, 85, 85, 0.3);
  span {
    font-family: "Circe-Regular";
    font-size: 25px;
  }
}
.price-card-body-list {
  color: #555555;
  font-family: "Circe-Light";
  font-size: 14px;
  line-height: 18px;
}
.price-card-body-list-item {
  padding-left: 20px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #ccc;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  + .price-card-body-list-item {
    margin-top: 20px;
  }
}
.pricing .btn-wrapper {
  margin-top: 40px;
  .btn {
    width: 100%;
  }
}

.price-card:hover {
  transform: scale(0.99);
  background: linear-gradient(248.11deg, #917ab8 1.97%, #7760a2 100%);
  .price-card-top {
    background: transparent;
  }
  .price-card-body {
    background: transparent;
  }
  .price-card-body-amount {
    color: #fff;
    border-color: rgba($color: #fff, $alpha: .6);
  }
  .price-card-body-desc{
    color: #fff;
  }
  .price-card-body-list {
    color: #fff;
    opacity: 0.9;
  }
  .btn{
    background: #fff;
    color:#7962A3;
  }
}
