.services {
  padding: 90px 0;
}
.services-wrapper {
  margin-top: 60px;
  justify-content: space-between;
}
.services-item-persp {
  perspective: 1000px;
  transform-style: preserve-3d;
  border-radius: 20px;
  margin-bottom: 60px;
}
.services-item-persp {
  &:nth-of-type(1) {
    .services-item {
      background: rgb(1, 208, 251);
      background: linear-gradient(
        220deg,
        rgba(1, 208, 251, 1) 0%,
        rgba(38, 166, 254, 1) 68%,
        rgba(1, 130, 252, 1) 100%
      );
    }
    .btn__services {
      color: #0182fc;
    }
  }
  &:nth-of-type(2) {
    .services-item {
      background: linear-gradient(
        90deg,
        #fe8a6b 0.31%,
        #fb6138 58.57%,
        #ec5d36 98.55%
      );
    }
    .btn__services {
      color: #ef5e37;
    }
  }
  &:nth-of-type(3) {
    .services-item {
      background: linear-gradient(45deg, #44a85f 0%, #48d16e 100%);
    }
    .btn__services {
      color: #44ab61;
    }
  }
  &:nth-of-type(4) {
    .services-item {
      background: linear-gradient(237.11deg, #bb6bd9 3.48%, #a752c7 100%);
    }
    .btn__services {
      color: #a955c9;
    }
  }
  &:nth-of-type(5) {
    .services-item {
      background: linear-gradient(239.98deg, #967fbc 0%, #745c9f 97.99%);
    }
    .btn__services {
      color: #765ea1;
    }
  }
  &:nth-of-type(6) {
    .services-item {
      background: linear-gradient(
        237.2deg,
        #929cff 0%,
        #737ff1 59.3%,
        #6f79df 100%
      );
    }
    .btn__services {
      color: #707be4;
    }
  }
}
.services-item {
  user-select: none;
  transition: transform 0.6s;
  max-width: 360px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
}
.services-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.services-top-left {
  font-size: 15px;
  display: flex;
  align-items: center;
  img {
    margin-right: 6px;
    max-height: 100%;
  }
}
.services-top-right {
  font-family: "Circe-Bold";
  font-size: 12px;
  padding: 1px 23px;
  border-radius: 25px;
  background: linear-gradient(180deg, #ffe177 0%, #feb137 100%);
  margin-right: -40px;
}
.services-item-title {
  font-family: "Circe-Bold";
  font-size: 27px;
  text-transform: capitalize;
  margin-bottom: 18px;
}
.services-item-text {
  margin-bottom: 45px;
}
.btn__services {
  background: #fff;
  padding: 10px 50px;
  &:hover {
    text-shadow: 0px 0px 6px #a8cfc9;
  }
}
